<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>211890996067-770tt14kvkbbjss042phbtspubr9m2nk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.211890996067-770tt14kvkbbjss042phbtspubr9m2nk</string>
	<key>API_KEY</key>
	<string>AIzaSyA9WhJkMS9mYxp5LbdcrsfcDGPcoQ7j36g</string>
	<key>GCM_SENDER_ID</key>
	<string>211890996067</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.peykam.elitetaxi.driver</string>
	<key>PROJECT_ID</key>
	<string>elitetaxi-7ff56</string>
	<key>STORAGE_BUCKET</key>
	<string>elitetaxi-7ff56.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:211890996067:ios:f1e1d21c209465337d4956</string>
</dict>
</plist>